<!-- Hero Banner Section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="hero-banner">
        <h1 class="display-4 darkglow" i18n="@@startscreen.heroTitle|Title overlaid on the hero banner on the start screen." >Replaced text</h1>
        <p class="lead darkglow" i18n="@@startscreen.heroMessage|Message on the hero banner on the start screen.">Track and manage global and organizational compliance deadlines with ease.</p>
        <a href="javascript:void(0)" (click)="scrollToPricing()" class="btn btn-primary btn-lg mt-3"
        i18n="@@startscreen.heroLearnMore|Button text on the hero banner for users to learn more.">Learn More</a>
      </div>
    </div>
  </div>
</div>


<!-- Features Section -->
<section id="features" class="py-5 bg-light" style="margin-top: -40px; padding-top: 60px;">
  <div class="container">
    <div class="row text-center">
      <!-- Feature 1 -->
      <div class="col-md-4 feature-box">
        <i class="bi bi-calendar-event display-4 text-primary"></i>
        <h3 class="mt-3" i18n="@@startscreen.featureCreateManageEventsTitle|Title for Create and Manage Events on startscreen.">Create & Manage Events</h3>
        <p i18n="@@startscreen.featureCreateManageEventsMessage|Message for Create and Manage Events on startscreen.">Easily add, edit, and delete compliance events in an intuitive calendar view.</p>
        <div class="floating-info" i18n="@@startscreen.featureCreateManageEventsFloatingText|Message that is displayed when clicked for Create and Manage Events on startscreen.">
          Experience the flexibility of creating, editing, and deleting compliance events on any device. Share calendars with colleagues for enhanced teamwork and effortlessly export data for seamless integration with your existing workflows.
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="col-md-4 feature-box">
        <i class="bi bi-globe display-4 text-primary"></i>
        <h3 class="mt-3" i18n="@@startscreen.featureGlobalLocalTrackingTitle|Title for Global and local tracking on startscreen.">Global & Local Tracking</h3>
        <p i18n="@@startscreen.featureGlobalLocalTrackingMessage|Message for Global and local tracking on startscreen.">Monitor compliance deadlines worldwide and stay on top of organizational requirements.</p>
        <div class="floating-info" i18n="@@startscreen.featureGlobalLocalTrackingFloatingText|Message that is displayed when clicked for Global and local tracking on startscreen.">
          Monitor compliance deadlines for a diverse range of assets and sectors, covering a comprehensive global regulatory landscape. Ensure your organization adheres to the latest requirements worldwide.
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="col-md-4 feature-box">
        <i class="bi bi-bell display-4 text-primary"></i>
        <h3 class="mt-3" i18n="@@startscreen.featureAutomatedRemindersTitle|Title for automated reminders on startscreen.">Automated Reminders</h3>
        <p i18n="@@startscreen.featureAutomatedRemindersMessage|Message for automated reminders on startscreen.">Receive timely notifications to ensure your team never misses an important deadline.</p>
        <div class="floating-info" i18n="@@startscreen.featureAutomatedRemindersFloatingText|Message that is displayed when clicked for automated reminders on startscreen.">
          Streamline your compliance workflow with automated notifications and alerts. Receive timely reminders about upcoming deadlines, enabling proactive risk management and ensuring your organization remains compliant.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Compliance Fines Introduction Section -->
<section id="compliance-fines-intro" class="py-5 bg-light" style="margin-top: -40px; padding-top: 60px;">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="display-4" i18n="@@startscreen.featureComplianceFinesIntroTitle|Title for Compliance Fines section on startscreen.">The Cost of Non-Compliance</h2>
        <p class="lead" i18n="@@startscreen.featureComplianceFinesIntroMessage|Message for Compliance Fines section on startscreen.">
          In today’s regulatory environment, businesses face substantial fines for failing to comply with laws and regulations. Organisations can struggle to implement required compliance policy that can sometimes 
          impact people, processes and platforms that span very different elements of their businesses.  In addition change driven organisations can lose sight or memory of regular activities that are required in 
          order to ensure compliance.  Below are some high-profile cases that illustrate the significant financial consequences companies 
          may face if they do not meet their compliance obligations. These cases serve as critical reminders of the importance of adherence to compliance standards to avoid costly penalties.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="compliance-fines" class="py-5 bg-light" style="margin-top: -40px; padding-top: 60px;">
  <div class="container">
    <div class="row text-center">
      <!-- Card 1 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h5 i18n="@@startscreen.featureComplianceFineTitle1|Compliance Fine 1 Title on startscreen.">£72 Million Fine for Major Retail Bank</h5>
          </div>
          <div class="card-body">
            <p class="card-text" i18n="@@startscreen.featureComplianceFineMessage1|Compliance Fine 1 Text on startscreen.">A major UK retail bank was fined £72 million for failing to meet anti-money laundering regulations. The failure was tied to inadequate controls during transactions involving high-risk clients. The bank was found to have neglected its responsibilities under the Money Laundering Regulations 2007, leaving it vulnerable to illegal financial activities.</p>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h5 i18n="@@startscreen.featureComplianceFineTitle2|Compliance Fine 2 Title on startscreen.">$1.9 Billion Fine for UK Investment Bank</h5>
          </div>
          <div class="card-body">
            <p class="card-text" i18n="@@startscreen.featureComplianceFineMessage2|Compliance Fine 2 Text on startscreen.">A UK investment bank was slapped with a hefty $1.9 billion fine for violating U.S. sanctions and anti-money laundering laws. The violations included facilitating transactions for clients in sanctioned countries, risking national security. The fine serves as a strong reminder of the importance of compliance in global financial operations.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h5 i18n="@@startscreen.featureComplianceFineTitle3|Compliance Fine 3 Title on startscreen.">£117 Million Fine for Mis-selling PPI by a Leading Bank</h5>
          </div>
          <div class="card-body">
            <p class="card-text" i18n="@@startscreen.featureComplianceFineMessage3|Compliance Fine 3 Text on startscreen.">A leading UK bank was fined £117 million for the mis-selling of Payment Protection Insurance (PPI) products to thousands of customers. The mis-selling, which took place over several years, involved selling unnecessary insurance policies, resulting in billions in compensation claims from affected customers.</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-header bg-warning text-dark">
            <h5 i18n="@@startscreen.featureComplianceFineTitle4|Compliance Fine 4 Title on startscreen.">£42 Million Fine for Mis-selling Mortgage Products</h5>
          </div>
          <div class="card-body">
            <p class="card-text" i18n="@@startscreen.featureComplianceFineMessage4|Compliance Fine 4 Text on startscreen.">A major UK financial institution was fined £42 million after being found guilty of mis-selling mortgage products. The bank failed to ensure that its mortgage advice was suitable for customers, particularly in the case of interest-only mortgages, leaving many with financial difficulties and potential foreclosure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Subscription Section -->
<section id="pricing" class="py-5 bg-dark text-light">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4" i18n="@@startscreen.subscriptionTitle|Subscription title on startscreen.">Choose Your Subscription Plan</h1>
        <p class="lead" i18n="@@startscreen.subscriptionMessage|Subscription message on startscreen.">Select a plan that suits your needs and stay ahead with compliance tracking.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6" *ngIf="enableSubscription; else placeholderMonthly">
        <div class="card p-4">
          <h3 i18n="@@startscreen.subscriptionMonthlyTitle|Subscription monthly title on startscreen.">Monthly Plan</h3>
          <p class="lead" i18n="@@startscreen.subscriptionMonthlyPrice|Subscription monthly price on startscreen.">from €39.99 per month</p>
          <p i18n="@@startscreen.subscriptionMonthlyMessage|Subscription monthly message on startscreen.">Billed monthly, cancel anytime.</p>
          <a href="/public/subscribemonthly" class="btn btn-primary" i18n="@@startscreen.subscriptionMonthlyActionText|Subscription monthly action text on startscreen.">Subscribe Now</a>
        </div>
      </div>
      <div class="col-md-6" *ngIf="enableSubscription; else placeholderAnnually">
        <div class="card p-4">
          <h3 i18n="@@startscreen.subscriptionAnnuallyTitle|Subscription annually title on startscreen.">Annual Plan</h3>
          <p class="lead" i18n="@@startscreen.subscriptionAnnuallyPrice|Subscription monthly price on startscreen.">from €431.89 per year</p>
          <p i18n="@@startscreen.subscriptionAnnuallyMessage|Subscription annually message on startscreen.">Save 10% when you choose an annual subscription.</p>
          <a href="/public/subscribeannually" class="btn btn-primary" i18n="@@startscreen.subscriptionAnnuallyActionText|Subscription annually action text on startscreen.">Subscribe Now</a>
        </div>
      </div>
    </div>
      <ng-template #placeholderMonthly>
        <div class="col-md-6">
          <div class="card p-4">
            <h3 i18n="@@startscreen.subscriptionMonthlyTitlePlaceholder|Subscription monthly title placeholder on startscreen.">Monthly Plan</h3>
            <p class="lead" i18n="@@startscreen.subscriptionMonthlyPricePlaceholder|Subscription monthly placeholder price on startscreen.">Coming soon</p>
            <p i18n="@@startscreen.subscriptionMonthlyMessagePlaceholder|Subscription monthly message placeholder on startscreen.">Please watch this space...</p>
            <a href="public/home/availablesubscriptions" class="btn btn-primary"
             i18n="@@startscreen.subscriptionMonthlyActionTextPlaceholder|Subscription monthly action text placeholder on startscreen.">Subscriptions</a>
          </div>
        </div>
      </ng-template>  
      <ng-template #placeholderAnnually>
        <div class="col-md-6">
          <div class="card p-4">
            <h3 i18n="@@startscreen.subscriptionAnnuallyTitlePlaceholder|Subscription annually title placeholder on startscreen.">Annual Plan</h3>
            <p class="lead" i18n="@@startscreen.subscriptionAnnuallyPricePlaceholder|Subscription monthly price placeholder on startscreen.">Coming soon</p>
            <p i18n="@@startscreen.subscriptionAnnuallyMessagePlaceholder|Subscription annually message placeholder on startscreen.">Please watch this space...</p>
            <a href="public/home/availablesubscriptions" class="btn btn-primary"
             i18n="@@startscreen.subscriptionAnnuallyActionTextPlaceholder|Subscription annually action text Placeholder on startscreen.">Subscriptions</a>
          </div>
        </div>
      </ng-template>
  </div>
</section>

